<br>
<center>
    
    <h4>CR Selection </h4>
    </p>
    
    <p>Please select one candidate.</p>
</center>
<script type="text/javascript">
    //$('#district-name').text(getCookie('district') + ', ' + getCookie('constituency'));


</script>