
<div class="mb-5">
    <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="background-color:rgb(255,255,255);">
        <div class="container"><a class="navbar-brand text-primary" href="#">CR Voting System</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link text-primary active" href="/candidate">Home</a></li>
                    <li class="dropdown"><a class="dropdown-toggle nav-link text-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Register</a>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item text-secondary" role="presentation" href="/candidate/fptp/register">FPTP</a>
                            <a class="dropdown-item text-secondary" role="presentation" href="/pr_candidate/register">PR</a>
                            <a class="dropdown-item text-secondary" role="presentation" href="/party/register">Party</a>
                        </div>
                    </li>
                    
                    <li class="dropdown"><a class="dropdown-toggle nav-link text-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Manage</a>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item text-secondary" role="presentation" href="/candidate/fptp/manage">FPTP</a>
                            <a class="dropdown-item text-secondary" role="presentation" href="/pr_candidate/manage">PR</a>
                            <a class="dropdown-item text-secondary" role="presentation" href="/party/manage">Party</a>
                        </div>
                    </li>
                    <li class="nav-item" role="presentation"><a class="nav-link text-danger" href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

