<%- include('header', {title: "FPTP Candidate List"});  -%>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">

    </head>

    <body>
        <%- include('candidate_man_navbar'); -%>
            <div class="container">
                <table id="voterTable" data-toggle="table" data-pagination="true" data-search="true" data-page-size="10" data-side-pagination="client" data-url="http://localhost:8001/api/candidate_list/fptp">
                    <thead>
                        <tr>
                            <th data-field="candidateName_eng">Name</th>
                            <th data-field="citizenshipNo">Citizenship No</th>
                            <th data-field="sex">Sex</th>
                            <th data-field="partyName">Party</th>
                            <th data-field="electedfor">Elected For</th>
                            <th data-field="district">District</th>
                            <th data-field="constituency">Constituency</th>
                            <th data-field="_id" data-formatter="modifyFormatter">Modify</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <%- include('footer'); -%>
            <script>
                    function modifyFormatter(value, row, index, field) {
                        var button_delete = `<button class="btn btn-danger delete-button" name="${value}" style="margin:0px 10px 0px 10px"><i class="fa fa-trash"></i></button>`;
                        var edit_button = `<button class="btn btn-success edit-button" name="${value}" style="margin:0px 10px 0px 10px"><i class="fa fa-edit"></i></button>`
                        return edit_button + button_delete;
                    }
                    $(function () {
                        const toast = swal.mixin({
                            toast: true,
                            position: 'bottom-end',
                            showConfirmButton: false,
                            timer: 3000
                        });

                        $.ajax({
                            method: "GET",
                            url: "/notification",
                            success: function (response) {
                                console.log(response);
                                if (response.toNotify) {
                                    toast({
                                        type: response.type,
                                        title: response.message
                                    });
                                    $.ajax({
                                        method: "GET",
                                        url: '/clearNotification'
                                    });
                                }

                            }
                        });
                        $('body').on('click', '.edit-button', function (event) {
                            swal({
                                title: "Proceed to Update?",
                                type: "info"
                            })
                                .then((willupdate) => {
                                    if (willupdate.value) {
                                        window.location.replace('/candidate/fptp/update?id=' + event.target.name);
                                    }
                                })
                        });

                        $('body').on('click', '.delete-button', function (event) {
                            swal({
                                title: "Are you sure to delete?",
                                text: "Once deleted, you won't be able to recover Account",
                                type: "warning"
                            })
                                .then((willDelete) => {
                                    console.log(willDelete);
                                    if (willDelete.value) {
                                        $.ajax({
                                            url: "http://localhost:8001/candidate/fptp/delete",
                                            method: "DELETE",
                                            data: { "id": event.target.name },
                                            beforeSend: function () {
                                                swal({
                                                    text: "loading...",
                                                    onOpen: function () {
                                                        swal.showLoading();
                                                    },
                                                    allowOutsideClick: false,
                                                    allowEscapeKey: false,
                                                    showConfirmButton: false
                                                });
                                            },
                                            success: function (response) {
                                                swal.close();
                                                $("#voterTable").bootstrapTable('refresh', true);
                                                toast({
                                                    type: "success",
                                                    title: "User deleted successfully"
                                                });
                                                console.log(response);
                                            },
                                            error: function (error) {
                                                swal.close();
                                                toast({
                                                    type: "error",
                                                    title: "Error! Try again later"
                                                });
                                                console.log(error);
                                            }
                                        });

                                    }
                                });
                        });

                        $("#voterTable").on('click-cell.bs.table', function(field, value, row, element) {
                            if(value != '_id'){
                                window.location.href = '/candidate/fptp_candidate?id='+element._id;                                
                            }
                        });

                    });
                </script>
               
                <script src="https://cdn.jsdelivr.net/npm/sweetalert2"></script>
                <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
                <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/locale/bootstrap-table-en-US.min.js"></script>


    </body>

    </html>